{% extends 'base.html.twig' %}

{% block title "Voir les commandes" %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir les commandes</h1>
        {{ include('command/_form.html.twig') }}
        <div class="row">
            {% for command in commands %}
                <div class="col-md-4 col-sm mb-2 mb-md-3">
                    <div class="card">
                        <div class="card-body d-flex">
                            <div>
                                <h3 class="ref">n° commande: {{ command.reference }}</h3>
                                <h5 class="ref">refs. produit:</h5>
                                <ul>
                                    {% for item in command.items %}
                                        <li>{{ item.product.reference }} : {{ item.orderedQuantity }}</li>
                                    {% endfor %}
                                </ul>
                                <h5 class="ref">commandée le: </h5><span
                                        class="red">{{ command.createdAt.date|date('d/m/Y \\à H\\hi', 'Europe/Paris') }}</span>
                                <h5 class="ref">mise à jour le: </h5><span
                                        class="red">{{ command.updatedAt.date|date('d/m/Y \\à H\\hi', 'Europe/Paris') }}</span>
                                <h5 class="ref">État: </h5><span>{{ command.stateType }}</span>
                            </div>
                            <div class="ml-auto">
                                <a href="{{ path('command.show', {reference: command.reference}) }}">
                                    icone
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination pagination-container text-center w-100 d-flex justify-content-center">
            {{ knp_pagination_render(commands) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        jQuery('#orderDirection .form-check input').on('change', function (e) {
            this.form.submit();
        });
    </script>
{% endblock %}
