{% extends 'base.html.twig' %}

{% block title "Voir les commandes" %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir les commandes</h1>
        {{ form_start(form, {'attr':{'class': 'mb-4'}}) }}
        <div class="bg-light pt-3 px-3 pb-1 mt-4 mb-3">
            <div class="form-row">
                <div class="col-md-5">
                    {{ form_row(form.searchInput) }}
                </div>
                <div class="form-group col-md-7">
                    {{ form_label(form.searchBy) }}
                    <div class="form-inline">
                        {{ form_widget(form.searchBy) }}
                        <button type="submit" class="btn btn-primary ml-2">Rechercher</button>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-1">Afficher :</div>
                <div class="col-md-11">
                    <div class="row">
                        {{ form_widget(form.state) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-3 pb-1 mt-2 mb-4">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    {{ form_label(form.orderBy) }} :
                </div>
                <div class="col-auto">
                    {{ form_widget(form.orderBy, {'attr':{'onchange': 'this.form.submit()'}}) }}
                </div>
                <div class="col-auto">
                    {{ form_widget(form.orderDirection) }}
                </div>
            </div>
        </div>
        {{ form_end(form, {'render_rest' : false}) }}
        <div class="row">
            {% for command in commands %}
                <div class="col-md-4 col-sm mb-2 mb-md-3">
                    <div class="card">
                        <div class="card-body d-flex">
                            <div>
                                <h3 class="ref">n° commande: {{ command.reference }}</h3>
                                <h5 class="ref">refs. produit:</h5>
                                <ul>
                                    {% for item in command.items %}
                                        <li>{{ item.product.reference }} : {{ item.orderedQuantity }}</li>
                                    {% endfor %}
                                </ul>
                                <h5 class="ref">commandée le: </h5><span
                                        class="red">{{ command.createdAt.date|date('d/m/Y') }} à {{ command.createdAt.date|date('H:i:s', 'Europe/Paris') }}</span>
                                <h5 class="ref">mise à jour le: </h5><span
                                        class="red">{{ command.updatedAt.date|date('d/m/Y') }} à {{ command.createdAt.date|date('H:i:s', 'Europe/Paris') }}</span>
                                <p class="state state-WIP">WIP</p>
                            </div>
                            <div class="ml-auto">
                                <a href="{{ path('command.show', {reference: command.reference}) }}">
                                    icone
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination pagination-container text-center w-100 d-flex justify-content-center">
            {{ knp_pagination_render(commands) }}
        </div>
    </div>
{% endblock %}
