{% extends 'base.html.twig' %}

{% block title "Voir les commandes" %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir les commandes</h1>
        <div class="bg-light pt-3 px-3 pb-1 my-4">
            {{ form_start(form, {'attr':{'class': 'mb-4'}}) }}
            <div class="form-row">
                <div class="form-group col-md-5">
                    {{ form_row(form.searchInput) }}
                </div>
                <div class="form-group col-md-7">
                    {{ form_label(form.searchBy) }}
                    <div class="form-inline">
                        {{ form_widget(form.searchBy) }}
                        <button type="submit" class="btn btn-primary ml-2">Rechercher</button>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-1">Afficher:</div>
                <div class="col-md-11">
                    <div class="row">
                        {{ form_widget(form.stock) }}
                    </div>
                    <div class="row">
                        {{ form_widget(form.state) }}
                    </div>
                </div>
            </div>
            {{ form_end(form, {'render_rest' : false}) }}
        </div>
        <div class="row">
            {% for command in commands %}
                <div class="col-md-4 col-sm mb-2 mb-md-3">
                    <div class="card">
                        <div class="card-body d-flex">
                            <div>
                                <h3 class="ref">n° commande: {{ command.reference }}</h3>
                                <h5 class="ref">refs. produit:</h5>
                                <ul>
                                    {% for product in command.products %}
                                        <li>{{ product.reference }}</li>
                                    {% endfor %}
                                </ul>
                                <h5 class="ref">quantité: </h5><span class="red">{{ command.quantity }}</span>
                                <h5 class="ref">commandé le: </h5><span class="red">{{ command.createdAt.date }}</span>
                                <p class="state state-{{ command.state }}">{{ command.stateType }}</p>
                            </div>
                            <div class="ml-auto">
                                <a href="{{ path('command.show', {reference: command.reference}) }}">
                                    icone
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination pagination-container text-center w-100 d-flex justify-content-center">
            {{ knp_pagination_render(commands) }}
        </div>
    </div>
{% endblock %}
