{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}Détails pour {{ command.reference }}{% endblock %}

{% block body %}
    <div class="container my-4">
        <a href="{{ path('command.index') }}">Retour aux commandes</a>
        <h1 class="red">Détails pour la commande {{ command.reference }}</h1>
        <div class="order-tracking-line-container">
            <div class="order-tracking-line tracking-state-{{ command.state }}">
                <div class="tracking-step tracking-step-files">
                    <div class="tracking-point"></div>
                    <div class="tracking-text">{{ command.state >= 1 ? 'fichier(s) reçu(s)' : 'en attente de fichier(s)' }}</div>
                </div>
                <div class="tracking-step tracking-step-proof">
                    <div class="tracking-point"></div>
                    <div class="tracking-text">{{ command.state >= 2 ? 'B.A.T. reçu' : command.state == 1 ? 'En attente de B.A.T' : '&nbsp;' }}</div>
                </div>
                <div class="tracking-step tracking-step-prod">
                    <div class="tracking-point"></div>
                    <div class="tracking-text">{{ command.state >= 3 ? 'Production terminée' : command.state == 2 ? 'En cours de production' : '&nbsp;' }}</div>
                </div>
                <div class="tracking-step tracking-step-ship">
                    <div class="tracking-point"></div>
                    <div class="tracking-text">{{ command.state == 4 ? 'Livrée' : command.state == 3 ? 'En cours de livraison' : '&nbsp;' }}</div>
                </div>
            </div>
        </div>
        <div class="order-blocks">
            <div class="order-block order-infos">
                <h2 class="order-block-title">Informations sur la commande :</h2>
                <div class="order-block-content">
                    <p><b>Commande passée le
                            : </b>{{ command.createdAt.date|date('d/m/Y \\à H\\hi', 'Europe/Paris') }}
                    </p>
                    <p><b>Commande mise à jour le
                            : </b>{{ command.updatedAt.date|date('d/m/Y \\à H\\hi', 'Europe/Paris') }}</p>
                    {% if FALSE %}
                        <a href="#" data-toggle="modal" data-target="#filesModal">
                            Voir les fichiers joints (<span class="text-danger font-weight-bold">WIP</span>)
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="order-block order-products">
                <h2 class="order-block-title">Contenu de la commande :</h2>
                <table id="productsTable" class="table table-striped table-bordered table-sm" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th>Référence produit</th>
                        <th>Quantité commandée</th>
                        <th>Quantité en stock</th>
                        <th>Quantité critique</th>
                        <th>Livrer à</th>
                        <th>Livraison estimée</th>
                        <th>Livré</th>
                        <th>Fichier(s) joint(s)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in command.items %}
                        <tr>
                            <td>
                                <a href="{{ path('product.show', {reference: item.product.reference}) }}" target="_blank">{{ item.product.reference }}</a>
                            </td>
                            <td>{{ item.orderedQuantity }}</td>
                            <td>{{ item.product.quantity }}</td>
                            <td>{{ item.product.critical|default('Non défini') }}</td>
                            <td>{{ item.deliverTo }}</td>
                            <td>{{ item.estimatedDelivery.date|date('d-m-Y', 'Europe/Paris') }}</td>
                            <td>{{ item.realDelivery ? item.realDelivery.date|date('d-m-Y', 'Europe/Paris') : 'Non' }}</td>
                            <td>
                                {% if item.filename %}
                                    <a href="{{ vich_uploader_asset(item,'file') }}">{{ item.filename }}</a>
                                {% else %}
                                    Aucun fichier joint
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="order-block order-tracking">
                <h2 class="order-block-title">Suivi de la livraison :</h2>
                <div class="order-block-content">
                    <span class="text-danger font-weight-bold">WIP</span>
                </div>
            </div>
            {% if FALSE %}
                <div class="modal fade bd-example-modal-lg" id="filesModal" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title red">Fichiers joints</h3>
                                <button type="button" class="close-icon" data-dismiss="modal" aria-label="Close">
                                    <img src="">
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row files-container">
                                    <div class="col-2 text-break single-file">
                                        <div class="file-icon-container px-2">
                                            <img src="#" alt=""
                                                 class="file-icon img-fluid">
                                        </div>
                                        <p class="text-break text-center mt-1 d-inline-block w-100">
                                            WIP
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}


