{% extends 'base.html.twig' %}

{% block title %}Détails pour {{ product.reference }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <a href="{{path('product.index')}}">Retour aux produits</a>
    <h1 class="red">Détails pour {{product.reference}}</h1>
    <h2>Stock actuel : {{product.quantity}} / Seuil critique : {{product.critical|default('Non défini')}}</h2>
    <div class="last-input">
        <h2>Dernière entrée de stock :
            <span class="text-danger font-weight-bold">WIP</span>
        </h2>
    </div>
    <div class="last-output">
        <h2>Dernière sortie de stock :
            <span class="text-danger font-weight-bold">WIP</span>
        </h2>
    </div>
    <h1>Évolution du stock: <span class="text-danger font-weight-bold">WIP</span></h1>
</div>


{% endblock %}
