{% extends 'base.html.twig' %}

{% block title 'Gérer les commandes' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les commandes</h1>
        {{ include('command/_form.html.twig') }}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="my-3">
            <a href="{{ path('admin.command.new') }}" class="btn btn-primary">Nouvelle commande</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Référence</th>
                <th>État</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for command in commands %}
                <tr>
                    <td>{{ command.reference }}</td>
                    <td>{{ command.stateType }}</td>
                    <td>
                        <a href="{{ path('admin.command.edit', {reference: command.reference}) }}"
                           class="btn btn-secondary">Éditer</a>
                        <form method="post" action="{{ path('admin.command.delete', {id: command.id}) }}"
                              class="d-inline-block"
                              onsubmit="return confirm('Voulez-vous vraiment supprimer cette commande?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete'~command.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination pagination-container text-center w-100 d-flex justify-content-center">
            {{ knp_pagination_render(commands) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        jQuery('#orderDirection .form-check input').on('change', function (e) {
            this.form.submit();
        });
    </script>
{% endblock %}