<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - SwissStock</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% if app.user %}
    <div class="sticky-top">
        {#
        {% if app.user and "ROLE_ADMIN" in app.user.roles %}
            <div class="bg-dark text-light">
                <div class="container text-center">
                    Vous êtes connecté(e) en tant qu'administrateur
                </div>
            </div>
        {% endif %}
        #}
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}">SwissStock</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="commandsDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Commandes</a>
                                <div class="dropdown-menu" aria-labelledby="commandsDropdown">
                                    <a class="dropdown-item" href="{{ path('command.index') }}">Voir les commandes</a>
                                    <a class="dropdown-item" href="{{ path('admin.command.index') }}">Gérer les
                                        commandes</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produits</a>
                                <div class="dropdown-menu" aria-labelledby="productsDropdown">
                                    <a class="dropdown-item" href="{{ path('product.index') }}">Voir les produits</a>
                                    <a class="dropdown-item" href="{{ path('admin.product.index') }}">Gérer les
                                        produits</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="addressDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Adresses</a>
                                <div class="dropdown-menu" aria-labelledby="addressDropdown">
                                    <a class="dropdown-item" href="{{ path('address.index') }}">Voir les adresses</a>
                                    <a class="dropdown-item" href="{{ path('admin.address.index') }}">Gérer les
                                        adresses</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Utilisateurs</a>
                                <div class="dropdown-menu" aria-labelledby="usersDropdown">
                                    <a class="dropdown-item" href="{{ path('admin.user.index') }}">Gérer les
                                        utilisateurs</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item {{ ('command' in app.request.get('_route')) ? 'active' : '' }}">
                                <a class="nav-link" href="{{ path('command.index') }}">Commandes</a>
                            </li>
                            <li class="nav-item {{ ('product' in app.request.get('_route')) ? 'active' : '' }}">
                                <a class="nav-link" href="{{ path('product.index') }}">Produits</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ app.user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endif %}
{% block body %}{% endblock %}
{{ encore_entry_script_tags('app') }}
{% block javascripts %}
{% endblock %}
</body>
</html>
