{% extends 'base.html.twig' %}

{% block title 'Gérer le stock' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer le stock</h1>
        {{ form_start(form, {'attr':{'class': 'mb-4'}}) }}
        <div class="bg-light pt-3 px-3 pb-1 my-4">
            <div class="form-row">
                <div class="form-group w-100">
                    {{ form_label(form.searchInput) }}
                    <div class="form-inline w-100">
                        {{ form_widget(form.searchInput) }}
                        <button type="submit" class="btn btn-primary ml-2">Rechercher</button>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-1">Afficher:</div>
                <div class="col-md-11">
                    <div class="row">
                        {{ form_widget(form.stock) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-3 pb-1 mt-2 mb-4">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    {{ form_label(form.orderBy) }} :
                </div>
                <div class="col-auto">
                    {{ form_widget(form.orderBy, {'attr':{'onchange': 'this.form.submit()'}}) }}
                </div>
                <div class="col-auto">
                    {{ form_widget(form.orderDirection, {'attr':{'onchange': 'this.form.submit()'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(form, {'render_rest' : false}) }}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="my-3">
            <a href="{{ path('admin.product.new') }}" class="btn btn-primary">Nouveau produit</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Référence</th>
                <th>Qté en stock / Qté critique</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.reference }}</td>
                    <td>{{ product.quantity }} / {{ product.critical }}</td>
                    <td>
                        <a href="{{ path('admin.product.edit', {reference: product.reference}) }}"
                           class="btn btn-secondary">Éditer</a>
                        <form method="post" action="{{ path('admin.product.delete', {id: product.id}) }}"
                              class="d-inline-block"
                              onsubmit="return confirm('Voulez-vous vraiment supprimer cette commande?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete'~product.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination pagination-container text-center w-100 d-flex justify-content-center">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}
