{% extends 'base.html.twig' %}

{% block title 'Voir les adresses' %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir les adresses</h1>
        {{ include('address/_form.html.twig') }}
        <div class="row">
            {% for address in addresses %}
                <div class="col-md-4 col-sm mb-2 mb-md-3">
                    <div class="card">
                        <div class="card-body d-flex">
                            <div>
                                <h3 class="ref">{{ address.name }}</h3>
                                <h3 class="ref">{{ address.country }}</h3>
                                <h3 class="ref">{{ address.department }}</h3>
                                <h3 class="ref">{{ address.postalCode }}, {{ address.city }}</h3>
                                <h3 class="ref">{{ address.addressLine1 }}</h3>
                                <h3 class="ref">{{ address.addressLine2 }}</h3>
                                <h3 class="ref">{{ address.addressLine3 }}</h3>
                            </div>
                            <div class="ml-auto">
                                <a href="{{ path('address.show', {'id' : address.id}) }}">icone</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <tr>
                    <td colspan="10">Aucun résultat</td>
                </tr>
            {% endfor %}
        </div>
        <div class="pagination pagination-container text-center w-100 d-flex justify-content-center">
            {{ knp_pagination_render(addresses) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        jQuery('#orderDirection .form-check input').on('change', function (e) {
            this.form.submit();
        });
    </script>
{% endblock %}